@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark">@User.Identity.Name</a>
    </li>

    <li class="nav-item">
        <form class="form-inline" method="post" asp-action="Logout" asp-controller="Users"
              asp-area="">
            <button type="submit" class="nav-link btn btn-link">
                خروج
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">ورود</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">ثبت نام</a>
    </li>
}